# see https://docs.searxng.org/admin/engines/settings.html#use-default-settings
use_default_settings: true
server:
  base_url: "{{ searxng_url }}"
  secret_key: "{{ searxng_secret_key }}"
  limiter: false  # can be disabled for a private instance
  image_proxy: true
ui:
  static_use_hash: true
redis:
  url: redis://{{ searxng_redis_container_name }}:6379/0
