version: '2.0'
services:
  db:
    image: mariadb:10.5
    container_name: seafile-mysql
    environment:
      - MYSQL_ROOT_PASSWORD={{ seafile_mysql_root_password }}
      - MYSQL_LOG_CONSOLE=true
    volumes:
      - {{ seafile_data_root }}/seafile-mysql/db:/var/lib/mysql
    networks:
      - seafile-net

  memcached:
    image: memcached:1.5.6
    container_name: seafile-memcached
    entrypoint: memcached -m 256
    networks:
      - seafile-net

  elasticsearch:
    image: seafileltd/elasticsearch-with-ik:5.6.16
    container_name: seafile-elasticsearch
    environment:
      - discovery.type=single-node
      - bootstrap.memory_lock=true
      - "ES_JAVA_OPTS=-Xms1g -Xmx1g"
    ulimits:
      memlock:
        soft: -1
        hard: -1
    mem_limit: 2g
    volumes:
      - {{ seafile_data_root }}/seafile-elasticsearch/data:/usr/share/elasticsearch/data
    networks:
      - seafile-net

  seafile:
    image: {{ seafile_image_name }}:{{ seafile_image_tag }}
    container_name: seafile
    ports:
      - "{{ seafile_listen_port }}:80"
    volumes:
      - {{ seafile_data_root }}/seafile-data:/shared
    environment:
      - DB_HOST=db
      - DB_ROOT_PASSWD={{ seafile_mysql_root_password }}
      - TIME_ZONE={{ seafile_timezone }}
      - SEAFILE_ADMIN_EMAIL={{ seafile_admin_email }}
      - SEAFILE_ADMIN_PASSWORD={{ seafile_admin_password }}
      - SEAFILE_SERVER_LETSENCRYPT=false
      #- SEAFILE_SERVER_HOSTNAME=example.seafile.com # Specifies your host name if https is enabled
    depends_on:
      - db
      - memcached
      - elasticsearch
    networks:
      - seafile-net

networks:
  seafile-net:
