server {
    listen 443 ssl;
    root _;
    server_name {{ item.conf.access_domain }};
    ssl_certificate     /etc/letsencrypt/live/{{ nginx_global_apps_domain }}/fullchain.pem;
    ssl_certificate_key /etc/letsencrypt/live/{{ nginx_global_apps_domain }}/privkey.pem;
    ssl_protocols       TLSv1.1 TLSv1.2;
    ssl_ciphers         HIGH:!aNULL:!MD5;

    location / {
{% if item.app == "nextcloud" %} {# Nextcloud requires https internally #}
        proxy_pass         https://127.0.0.1:{{ item.conf.port }};
{% else %}
        proxy_pass         http://127.0.0.1:{{ item.conf.port }};
{% endif %}
        proxy_set_header   Host $host;
        proxy_set_header   X-Real-IP $remote_addr;
        proxy_set_header   X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header   X-Forwarded-Host $server_name;
        proxy_set_header   X-Forwarded-Proto https;
        proxy_read_timeout  1200s;
        client_max_body_size 0;
        error_log       /var/log/nginx/{{ item.app }}.error.log;
    }
}
