server {
    {% if item == "default" %}
    listen 80 default_server;
    server_name _;
    return 301 https://$host$request_uri;
    {% else %}
    listen 443 ssl;
    root /var/www/{{ item }}/html;
    server_name {{ item }} www.{{ item }};
    ssl_certificate     /etc/letsencrypt/live/{{ item }}/fullchain.pem;
    ssl_certificate_key /etc/letsencrypt/live/{{ item }}/privkey.pem;
    ssl_protocols       TLSv1.1 TLSv1.2;
    ssl_ciphers         HIGH:!aNULL:!MD5;
    index index.html index.htm index.nginx-debian.html;

    location ~ /.well-known {
        allow all;
    }

    location / {
        try_files $uri $uri/ =404;
    }
    {% endif %}
}
