# {{ ansible_managed }}
#
# /etc/ddclient.conf

protocol={{ ddclient_proto }} \
use=web, web=https://freedns.afraid.org/dynamic/check.php \
login={{ ddclient_user }} \
password='{{ ddclient_password }}' \
{{ ddclient_domain }}
