[Unit]
Description=Seafile
After=network.target

[Service]
Type=forking
ExecStart={{ seafile_install_dir }}/seafile-server-latest/seafile.sh start
ExecStop={{ seafile_install_dir }}/seafile-server-latest/seafile.sh stop
LimitNOFILE=infinity
User={{ seafile_user_grp }}
Group={{ seafile_user_grp }}

[Install]
WantedBy=multi-user.target
