[Unit]
Description=Seahub
After=network.target seafile.service

[Service]
Type=forking
ExecStart={{ seafile_install_dir }}/seafile-server-latest/seahub.sh start
ExecStop={{ seafile_install_dir }}/seafile-server-latest/seahub.sh stop
LimitNOFILE=infinity
User={{ seafile_user_grp }}
Group={{ seafile_user_grp }}

[Install]
WantedBy=multi-user.target
