# {{ ansible_managed }}

[Interface]
{% if ansible_os_family == "Debian" %}
Address = {{ wireguard_server_ip }}
{% endif %}
ListenPort = {{ wireguard_server_listen_port }}
PrivateKey = {{ wireguard_server_priv_key }}
PostUp = iptables -A FORWARD -i %i -j ACCEPT; iptables -t nat -A POSTROUTING -o eth0 -j MASQUERADE;iptables -A FORWARD -o %i -j ACCEPT
PostDown = iptables -D FORWARD -i %i -j ACCEPT; iptables -t nat -D POSTROUTING -o eth0 -j MASQUERADE;iptables -D FORWARD -o %i -j ACCEPT


{% for peer in wireguard_peers %}
[Peer]
PublicKey = {{ peer.peer_key }}
AllowedIPs = {{ peer.peer_ip}}

{% endfor %}
