global:
  scrape_interval: 15s
  evaluation_interval: 30s

scrape_configs:
  - job_name: 'prometheus'
    honor_labels: true
    static_configs:
      - targets: ["localhost:9090"]
        labels:
          env: prod

  - job_name: 'node_exporter'
    static_configs:
      - targets: ["localhost:9100"]

  - job_name: 'zfs_exporter'
    metrics_path: /metrics
    static_configs:
        - targets: ["localhost:9134"]

  - job_name: 'blackbox-service-status'
    metrics_path: /probe
    params:
      module: [http_2xx]
    static_configs:
{% for t in monitoring_apps_confs %}
{% if not t.conf.curl_requires_auth %}
      - targets:
{% if "access_domain" in t.conf %}
          - 'https://{{ t.conf.access_domain }}{{ t.conf.status_endpoint }}'
{% else %}
          - 'http://0.0.0.0:{{ t.conf.port }}{{ t.conf.status_endpoint }}'
{% endif %}
        labels:
          name: '{{ t.app }}'
{% endif %}
{% endfor %}
    relabel_configs:
      - source_labels: [__address__]
        target_label: __param_target
      - source_labels: [__param_target]
        target_label: instance
      - target_label: __address__
        replacement: 127.0.0.1:9115  # Blackbox exporter.

  - job_name: 'blackbox-ssl-sites'
    metrics_path: /probe
    params:
      module: [http_2xx]
    static_configs:
      - targets:
{% for t in monitoring_static_sites %}
          - 'https://{{ t.name }}'
{% endfor %}
    relabel_configs:
      - source_labels: [__address__]
        target_label: __param_target
      - source_labels: [__param_target]
        target_label: instance
      - target_label: __address__
        replacement: 127.0.0.1:9115  # Blackbox exporter.
